<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card-center {
            margin: 0 auto;
            float: none;
            margin-top: 100px;
        }

        .navbar-nav {
            margin: auto;
        }
    </style>
</head>
<body>
    <header>
        <div class="container-xl">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <div class="navbar-collapse collapse justify-content-center">
                    <a class="navbar-brand" href="/menu.html"><strong>A</strong>lke <strong>W</strong>allet</a>
                </div>
            </nav>
        </div>
        <hr>
    </header>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card card-center rounded shadow">
                    <div class="card-body">
                        <h3 class="card-title text-center">Iniciar sesión</h3>
                        <form th:action="@{/signin}" th:object="${usuario}"  method="post">
                            <div class="form-group">
                                <label for="usuario">Nombre de usuario:</label>
                                <input type="text" th:field="*{username}" class="form-control" required />
                            </div>
							<div class="form-group">
                                <label for="nombre">Contraseña:</label>
                                <input type="password" id="contrasena" name="contrasena" class="form-control" required>
                            </div>
                            <div class="text-center">
                                <input type="submit" value="Iniciar Sesión" class="btn btn-success">
                                <a th:href="@{/registro}" class="btn btn-primary">Registrar usuario</a>
                            </div>
                        </form>
                        <div th:if="${not #lists.isEmpty(mensaje)}" class="alert alert-info mt-3" role="alert" th:text="${mensaje}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
